.vscode/**
config.yaml
**/config.yaml
falco-talon
dist/
Memory
.idea/**
tmp
DO-NOT-COMMIT-local-setup.yaml
deployment/compose/minio/data
deployment/compose/tempo/data
deployment/compose/loki/data
.env
pod*.yaml
