name: Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.19.x]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - name: Install GoReleaser
      uses: goreleaser/goreleaser-action@v2
      with:
        install-only: true

    - name: Run Mage
      uses: magefile/mage-action@v1
      with:
        version: latest
        args: build
